.login-container {
    margin: 20px;
}

.email-input {
    width: 270px;
}

.submit-button {
    text-decoration: none;
}

.continue-login {
    background-color: #8DD3BB !important;
    color: black !important;
    text-align: center;
}

.login-image {
    width: 80%;
}
