.orders-container {
    padding: 30px;
}

.orders-list {
    margin-top: 20px;
    padding-left: 20px;
    list-style-type: none; /* Madde işaretlerini kaldırmak için */
    display: flex  !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 40px;
}

.order-item {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    width: 266px;
    box-shadow: 0px 4px 16px 0px rgb(17 34 17 / 5%);
 
}
.order-image{
    width: 100% !important;
    height: 250px;
}
/* backgroundColor: "#8DD3BB", width: "220px", color: "black", borderRadius: "4px" */
.quantity{
background-color:#8d97d3 !important ;
width: 180px !important ;
color: black !important;
padding: 6px;
}
