.notification {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #8DD3BB;
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    font-weight: bold;
}

.fade-out {
    opacity: 0;
}

.rating-badge {
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #8DD3BB;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.order-button {
    border-radius: 4px;
    background: #8DD3BB;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 12px 24px;
    margin-top: 10px;
    width: 120px;
    text-transform: uppercase;
    font-weight: bold;
}

.city-images {
    width: 100%;  /* Makes image responsive */
    max-width: 1920px;  /* Ensures it doesn't scale beyond 1920px */
    height: auto;  /* Maintains aspect ratio */
    max-height: 600px;  /* Prevents it from becoming too tall */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
   
    transition: transform 0.3s ease-in-out;
}

.planeimage {
    width: 300px;
    height: 320px;
    border-radius: 12px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.planeimage:hover {
    transform: scale(1.05);
}

@media  (max-width: 600px) {
    .planeimage{
        width: 100% !important;
        height: 523px !important;
    }
    .top_citydata{
        flex-direction: column !important;
        align-items: center !important;
    }
    .city_boxtop{
        flex-direction: column !important;
        align-items: center !important;
    }
  }

  @media (min-width: 602px) and (max-width: 1000px) {
    .planeimage{
        width: 100% !important;
        height: 623px !important;
    }
   
  }

  @media (min-width: 602px) and (max-width: 700px) {
   
    .top_citydata{
        flex-direction: row !important;
        align-items: center !important;
    }
    .city_boxtop{
        flex-direction: column !important;
        align-items: center !important;
    }
  }
