.notification {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid green;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.rating-badge {
    text-align: center;
    width: 30px;
    border: 1px solid #8DD3BB;
    border-radius: 10%;
    padding: 10px;
}

.order-button {
    border-radius: 4px;
    background: #8DD3BB;
    cursor: pointer;
    color: black;
    text-align: center;
    font-size: 19px;
    padding: 15px;
    height: 20px;
    width: 70px;
}

.city-images {
    width: 100%;
    object-fit: cover;
    height: 450px;
    border-radius: 12px;
}

.plane-image {
    width: 280px;
    height: 230px;
    border-radius: 10px;
    margin: 5px;
}
