@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    font-family: "Poppins", sans-serif !important;
   padding: 0;

}
body{
    height: 100% !important;
}
.burger_menu {
    display: none;
}
.header_container{
    position: fixed;
    z-index: 9999999;
    background-color: white;
   

}
.nav_head {
    border-bottom: 2px solid transparent;  
    transition: border-color 0.3s ease;    
}

.nav_head:hover {
    border-bottom: 2px solid black; 
}

.favrthova:hover{
    background-color: red;
    color: black;
}
.personboxs{
    position: absolute;
    top: 15% ;
    right: 40px;
    z-index: 9999;
    background-color: white;
}

.swiper-slide {
   
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.packinghotel{
    margin-top: 12% !important;
}

.acountcolor{
    color: #8DD3BB;
}
.bordercustm {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%238DD3BBFF' stroke-width='4' stroke-dasharray='23%2c 11' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 30px;
    width: 30%;
 }


.MuiPaper-root{
    background-color: white !important;
}
.MuiPaper-root{
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    width: 59% !important;
    height:max-content !important;
}
.header_container{
    width: 98%;
}

  @media (max-width: 600px) {
    .Container {
        max-width: 540px;
    }
    .header_links{
        display: none !important;
    }
  .nav_items{
    display: none !important;
  }
    .burger_menu {
        display: block !important; 
    }
    .placego {
        margin-top: 120% !important;
    }

    .letsgos {
        margin-top: 100% !important;
        text-align: center;
    }

    .letsgosb {
        margin-top: 145% !important;
        text-align: center;
    }

    .photosloctresp {
        margin-top: 55px !important;
    }

    .rewsbox {
        width: 350px;
        margin: auto;
        margin-top: 37px;
    }

    .goingtexts {
        margin-top: 20px !important;
    }

    .texttsfiledcolumn {
        display: flex;
        flex-direction: column !important;
    }

    .twoboxs {
        display: flex;
        flex-direction: column !important;
        margin: auto;
        align-items: center;
        gap: 15px !important;
    }

    .seamorbtn {
        margin-top: 20px;
    }

    .onestextsdfiled {
        width: 100% !important;
    }

    .rewies {
        width: 100% !important;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .txtsdpbox {
        width: 100% !important;
    }

    .footerfinis {
        flex-direction: column !important;
        gap: 10px;
        text-align: center;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .maketravel {
        width: 100% !important;
    }

    .foterboxone {
        width: 82% !important;
        height: 200% !important;
        padding: 10px !important;
        margin-left: 25px !important;
        margin-top: -29px !important;
        text-align: center !important;
    }

    .boxsdonescolumn {
        display: flex;
        flex-direction: column !important;
    }

    .sealsbtn {
        width: 100% !important;
    }

    .hoteslsd {
        width: 100% !important;
    }

    .hotesltextsd {
        width: 240px !important;
    }

    .iconsonesd {
        display: none !important;
    }

    .landingsmalbox {
        height: 40% !important;
        top: 38% !important;
    }

    .landingsmalboxa {
        height: 66% !important;
        top: 54% !important;
        width: 80% !important;
        padding: 10px;
    }

    .landingsmalboxb {
        height: 65% !important;
        top: 48% !important;
        width: 80% !important;
        padding: 10px;
    }

    .texttsfiledcolumna {
        display: flex;
        flex-direction: column !important;
    }

    .landingsmalboxc {
        height: 59% !important;
        top: 11% !important;
        width: 80% !important;
        padding: 10px;
    }

    .flylines {
        width: 230px !important;
    }

    .sortbytxt {
        display: flex;
        flex-direction: row;
        gap: 10% !important;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .bos {
        width: 98% !important;
    }

    .hotelwordboxes {
        width: 96% !important;
    }

    .hotelslistphotsrows {
        display: flex;
        flex-direction: column !important;
        width: 100% !important;
        align-items: center;
    }

    .mapsbutons {
        width: 230px !important;
    }

    .roomscards {
        display: flex;
        flex-direction: column !important;
        gap: 10px !important;
        align-items: center;
        text-align: center !important;
    }

    .hotelslistcardscolmmn {
        display: flex;
        flex-direction: column !important;
        width: 100% !important;
        align-items: center;
        gap: 10px !important;
    }

    .locationphotos {
        width: 100% !important;
    }

    .textcentrs {
        text-align: center !important;
    }

    .bigonehotels {
        width: 100% !important;
    }

    .flyemirtexts {
        display: flex;
        flex-direction: column !important;
        width: 100% !important;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 10px !important;
    }

    .worldboxsone {
        display: flex;
        align-items: center;
        flex-direction: column !important;
    }

    .chaeapboxs {
        width: 75% !important;
        margin: auto;
    }

    .boxsoneslines {
        width: 70% !important;
        height: 0 !important;
    }

    .adpromo {
        margin-left: 10% !important;
    }

    .borderlins {
        display: none;
    }

    .faltext {
        text-align: center !important;
    }

    .letsgosz {
        margin-top: 30% !important;
        text-align: center;
    }

   
    .burger_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .burger_button {
        background-color: #f44336;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }

    .burger_menu_items {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
@media (min-width: 600px)and (max-width:990px ) {
    .burger_menu {
        display: none !important; 
    }
 
    .sign_btn{
        width: 86px !important;
    }
 
}


@media (min-width: 991px) and (max-width: 1440px) {
    .burger_menu {
        display: none !important;
    }
}


