.footer-container {
    background: #8DD3BB;

    bottom: 0;
    width: 100%;
}

.footer-box {
    margin: 0 auto; /* Center the footer */
    border-radius: 20px;
    background-color: #CDEAE1 !important;
    padding: 10px;
    width: 85%;
    max-width: 1200px; /* Optional: Set a max width */
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
}

.footer-content {
    gap: 10%;
    flex-direction: row;
}

.footer-title {
    font-family: "TradeGothic LT Extended";
}

.footer-email-input {
    width: 300px;
}

.footer-subscribe-button {
    background-color: #8DD3BB !important;
    color: black !important;
    border-radius: 4px;
    width: 120px;
    height: 50px;
}

.footer-emoji {
    width: 300px;
}

.footer-bottom {
    display: flex !important;
    margin-top: 35px !important;
    align-items: center !important;
    flex-direction: row !important;
    justify-content: space-between;
}

.footer-services {
    display: flex !important;
    margin-top: 19px !important;
    align-items: center !important;
    flex-direction: row !important;
    justify-content: center;
    gap: 26%;
}

.linesborders {
    border: 1px solid black !important; 
    max-width: 100% !important;
    margin-top: 8px;
}

.footer-logo {
    width: 100px;
}

.footer_text {
    width: 40%;
}

.foter_servicelinks {
    text-decoration: none;
    color: black;
}


@media (max-width: 600px) {
    .footer-container {
       

    }
    .footer-content{
flex-direction: column !important;
align-items: center !important;
text-align: center;
gap: 20px;
    }

    .footer-box {
        margin-left: 0;
        width: 100%;
        height: auto;
    }


    .footer-email-input {
        width: 100%;
    }

    .footer-subscribe-button {
        width: 100%;
    }

    .footer-emoji {
        width: 150px;
        align-self: center;
    }

    .footer-services {
        flex-direction: column  !important;
        gap: 10px;
        text-align: center;
    }
    .footer-bottom{
gap: 30px !important;
    }

    .footer_text {
        width: 100%;
    }

    .footer-logo {
        width: 80px;
        margin: 10px auto;
    }

}


@media (max-width: 991px) {
    .footer-container {

     
    }

    .footer-box {
        margin-left: 0;
        padding: 0px !important;
        width: 100%;
        height: auto;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }

    .footer-email-input {
        width: 100%;
    }

    .footer-subscribe-button {
        width: 100%;
    }

    .footer-emoji {
        width: 200px;
        align-self: center;
    }

    .footer-services {
        flex-direction: column;
        gap: 50px !important;
        text-align: center;
    }

    .footer_text {
        width: 100%;
    }

    .footer-logo {
        width: 90px;
        margin: 10px auto;
    }
}


@media (min-width: 991px) and (max-width: 1440px) {
    .footer-container {
      
  
    }

    .footer-box {
        margin-left: 50px;
        width: 80%;
        height: 250px;
    }

    .footer-content {
        flex-direction: row;
        gap: 10%;
    }

    .footer-email-input {
        width: 250px;
    }

    .footer-subscribe-button {
        width: 120px;
    }

    .footer-emoji {
        width: 250px;
    }

    .footer-services {
        gap: 20%;
    }

    .footer-logo {
        width: 100px;
    }
}
