.hotel-images {
    width: 100%;
    max-width: 1920px;
    height: auto;
    max-height: 600px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
}

.room-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    margin: 15px;
    transition: transform 0.3s ease-in-out;
    max-height: 250px;
}

.notification {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #8DD3BB;
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    font-weight: bold;
}

.fade-out {
    opacity: 0;
}

.hotel-details {
    width: 100%;
}

.rating-box {
    border: 1px solid #8DD3BB;
    border-radius: 10%;
    padding: 8px 15px;
    background-color: #f1f1f1;
}

.order-button {
    background: #8DD3BB;
    color: black;
    text-align: center;
    padding: 18px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.order-button:hover {
    background: #72c6b1;
}

.textcentrs {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #555;
}

@media  (max-width: 600px) {
   .room-image{
    width: 100% !important;
    max-width: 100% !important;
   }
    .hotelisabout_tops{
        flex-direction: column !important;
        align-items: center !important;
    }
    .hotel-details{
        flex-direction: column !important;
        align-items: center !important;
    }
  .hotelscardsname{
    align-items: center !important;
  }
}

@media (min-width: 602px) and (max-width: 700px) {
    .room-image{
        width: 100% !important;
        max-width: 100% !important;
    }
}
