.top__linksabout{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about_text{
    width:88%;
    color:  dimgrey;
}
h1{
    margin-bottom: 10px;
}
.abouttops{
    color: gray;
}

.travel_about {
    width: 100%;
    height: 450px;
    filter: none; 
}

.about_container{
   padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: center;
}

@media (max-width: 990px) {
    .about_text {
       width: 100% !important;
        color: dimgrey;
    }
    .travel_about{
        width: 100%;
        height: 450px;  
        object-fit: cover;
    }
}
@media (min-width: 991px) and (max-width: 1440px) {
    .about_text {
        width: 100% !important;
         color: dimgrey;
     }
}

