.perfecttrip-container {
    border-radius: 16px;
    width: 300px;
    padding: 20px;
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.09);
    transform: scale(1);
    margin: 10px;
    cursor: pointer; 
}
.perfecttrip-container:hover{
    transform: scale(0.9) !important;
}

.perfecttrip-image {
    width: 140px;
    height: 108px;
    object-fit: cover;
}

.perfecttrip-title {
    font-family: "Montserrat";
}

.perfecttrip-button {
    background-color: #8DD3BB !important;
    color: black !important;
    border-radius: 4px;
}
@media (max-width: 600px) {
    .perfect_card{
        flex-direction: column !important;
        align-items: center !important;
        flex-wrap: nowrap !important;
    }
    .perfecttrip-container{
        width: 81% !important;
        padding: 3px !important;
        margin: auto;
    }
}