.hotelworld-container {
    position: relative;
    padding: 20px;
}

.notification {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid green;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.hotelword_cards{
    margin-top: 15px;
}
.hotel-card {
    border-radius: 16px;
    width: 260px;
    padding: 20px;
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    background-color: #fff;
}

.hotel-card:hover {
    transform: translateY(-5px);
}

.hotel-image-container {
    width: 100%;
    height: 160px;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 15px;
}

.hotel-image {
    width: 100%;
height: 26vh !important;
    object-fit: cover;
    border-radius: 12px;
}

.hotel-title {
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.rating {
    background-color: #8DD3BB;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    color: #fff;
}

.view-deals-button {
    background-color: #8DD3BB !important;
    width: 100%;
    color: black !important;
    border-radius: 4px;
    font-weight: bold;
}

.hoteltop_name {
    font-weight: bold !important;
    font-size: 2rem;
    margin-bottom: 20px;
}

@media (max-width: 990px) {
    .hotel-card {
        width: 100%;
    }
}
@media (min-width: 991px) and (max-width: 1440px) {
  .hotelword_cards{
    justify-content: center !important;
  }
}

